.link,
a {
  text-decoration: none;
  color: inherit;
}

#scrollspy{
  background: transparent;
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  z-index: 1000;
}

.navbar-transparent{
  background: transparent;
  backdrop-filter: blur(5px);
}

#parent-div{
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 567px;
  background: url('./images/redflowers.png');
  background-image: linear-gradient(rgba(255, 255, 255, 0.6), rgba(0, 0, 0, 0.1));
  background-position: center;
  background-clip: padding-box;
}
.error{
  width: 100%;
  margin-top: 50px;
  position: absolute;
  font-weight: 400;
  text-align: center;
  color: red;
}

.align-err{
  margin-top: 30px;
}


.logo-house-icon{
  color: rgba(255, 120, 10);
}

.search input::placeholder{
  color: rgb(255, 120, 10);
}

.search-button{
  height: 50%;
  margin: 8px 5px 0px 0px;
  background: transparent !important;
  border: 1px solid rgb(0, 0, 0) !important;
  color: rgb(0, 0, 0) !important;
  text-align: center;
}

.search-button:hover{
  border: 1px solid rgb(255, 120, 10) !important;
  color: rgb(255, 120, 10) !important;
}

.log-in-out{
  background: transparent !important;
  border: 1px solid rgb(0, 0, 0) !important;
  color: rgb(0, 0, 0) !important;
  padding: 5px;
}

.log-in-out:hover {
  border: 1px solid rgb(255, 120, 10) !important;
  color: rgb(255, 120, 10) !important;
}

.wrapper {
  display: flex;
  justify-content: center;
  padding: 10vh 0vh 10vh 0vh;
  background: transparent !important;
}

.form-wrapper {
  padding: 0;
  width: 520px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  box-shadow: 15px 0px 15px 5px  rgba(94, 94, 94, 0.8);
}

.form-wrapper form {
  width: 100%;
  height: 100%;
  padding: 0px 20px;
  border: 1px solid rgb(136, 136, 136);
  border-radius: 10px;
  backdrop-filter: blur(3px);
}

.form-wrapper h1 {
  text-align: center;
  margin-top: 20px;
  color: rgb(255, 120, 10);
  font-weight: 700;
}
.form-wrapper .input-box {
  align-items: center;
  padding: 10px 20px 20px 10px;
  display: flex;
  flex-direction: column;
}

.form-wrapper .input-box .icon{
  position: absolute;
  margin: 15px 0px 0px 15px;
  left: 80%;
  color: rgb(255, 120, 10);
}

.form-wrapper .input-box .icon:hover{
  color: rgb(155, 0, 255);
}

.form-wrapper .input-box input {
  width: 100%;
  height: 100%;
  padding: 10px 10px 10px 20px;
  outline: none;
  border: 1px solid rgba(255, 120, 10, 0.5);
  border-radius: 40px;
  box-shadow: 0px 1px 1px 0px rgb(155, 155, 155);
  color: rgba(0, 0, 0, 0.9);
}

.form-wrapper .input-box input:focus + .icon, .gender span{
  color: rgb(0, 0, 0);
}

.form-wrapper .input-box input::placeholder {
  color: rgb(0, 0, 0);
  text-transform: capitalize;
}

.form-wrapper .rememberMe,
.form-wrapper .register-login-toggle p {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 10px 15px;
  color: rgb(255, 120, 10);
}

.form-wrapper .rememberMe label input {
  margin-right: 10px;
}

.form-wrapper .rememberMe a {
  text-decoration: none;
  color: rgb(155, 0, 255);
}

.form-wrapper .rememberMe a:hover {
  text-decoration: underline;
}

.form-wrapper button {
  width: 100%;
  height: 6vh;
  font-weight: 700;
  margin: 20px 0px 20px 0px;
  background: transparent;
  border: 1px solid rgba(155, 0, 255);
  border-radius: 40px;
  color: rgb(255, 120, 10);
}

.form-wrapper button:hover {
  border: 1px solid rgb(255, 120, 10);
  color: rgb(155, 0, 255);
}

.register-login-toggle p a {
  text-decoration: none;
  padding: 5px;
  border: 1px solid rgb(155, 0, 255);
  
  color: rgb(255, 120, 10);
  border-radius: 5px;
  font-weight: 700;

}

.register-login-toggle p a:hover {
  border: 1px solid rgb(255, 120, 10);
  color: rgb(155, 0, 255);
}

.register-login-toggle button{
  width: 25%;
  font-weight: 700;
  margin: 0px 0px 20px 0px;
  background: transparent;
  border: 1px solid rgba(155, 0, 255);
  border-radius: 40px;
  color: rgb(255, 120, 10);
}

.gender {
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.gender label{
  font-weight: 700;
  color: rgb(255, 120, 10);
}
#gender-group {
  display: flex;
  flex-direction: row;
}

#gender-group:hover, #gender-group input:hover{
  cursor: pointer;
}

#gender-group label {
  margin: 5px;
  font-weight: normal;
  color: rgb(155, 0, 255);
}

#gender-group input[type="radio"]:checked + label{
  color: rgb(255, 120, 10); 
}

#gender-group .icon{
  margin-block: 5px;
  color: rgb(255, 120, 10);
}

#dob{
  width: 100%;
  padding: 30px 20px 10px 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#dob label{
  color: rgb(255, 120, 10);
  font-weight: 700;
  margin-block: 5px;
}

#dob input{
  width: 60%;
  height: 6vh;
  outline: none;
  text-transform: uppercase;
  border-radius: 20px;
  padding: 0px 20px 0px 30px;
  border: 1px solid rgb(155, 0, 255);
  color: rgb(255, 120, 10);
}

#dob input:hover{
  border: 1px solid rgb(255, 120, 10);
  color: rgb(155, 0, 255);
  cursor: pointer;
}



/** Footer */

#footer-section{
  width: 100%;
  margin: 0;
  padding: 0;
  min-height: 100px;
  background: url('./images/catsonmoon.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto;
  position: relative;
}

#footer-logo-text{
  font-size: 100px;
  font-weight: 700;
  color: #ffffff;
}

#footer-logo-text small{
  font-size: 40px;
}

.descr{
  margin-left:25px;
}

#footer-social-icons{
  padding: 5px;
  margin: 0;
  margin-right: -14px;
  list-style: none;
  display: flex;
  flex-direction: column;
  align-self: flex-end;
  background: rgba(255, 120, 10, 1);
}

#footer-social-icons li{
  margin: 15px auto;
  display: flex;
  flex-direction: row;
}

.social-icons{
  color: rgb(255, 255, 255);
  font-size: xx-large;
  cursor: pointer;
}

.social-icons:hover{
  color: rgb(155, 0, 255);
}

#avatar{
  border: 1px solid rgb(255, 120, 10);
  border-radius: 10px;
  padding: 0 auto;
  margin: 2vh;
  position: absolute;
}

#quote-section{
  color: rgb(0, 0, 0);
  background: transparent;
  background-image: linear-gradient(rgba(255, 120, 10, 0.6), rgba(236, 146, 72, 0.3));
  position: relative;
}

.quoteText{
  color: rgb(8, 70, 0);

}

#copyright{
  width: 100%;
  max-height: 50px;
  min-height: 50px;
  position: sticky;
  bottom: 0;
  z-index: 1000;
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0,0,0,0.9));
  /* background-color: rgb(255, 255, 255); */
}

#copyright p{
  color: rgba(203, 144, 240, 0.9);
  padding: 15px 0px 0px 25px;
}

.ml-row{
  padding: 0;
  margin: 0;
  min-height: 50vh;
  display: flex;
  flex-direction: row;
}

.footer-col{
  background: #000;
  background-size: cover;
  color: aliceblue;
  opacity: 0.8;
  backface-visibility: hidden;
}

.ml-column{
  padding: 0;
  margin: 0;
  min-height: 25vh;
  display: flex;
  flex-direction: column;
}

.triplet{
  width: 33%;
}



/** Misc */


.input-form-bg {
  border: 1px solid rgba(102, 51, 153, 0.8);
  border-radius: 10px;
}

.avatar {
  border: 1px solid rgba(245, 245, 245, 0.9);
  border-radius: 50%;
}

.fmlg {
  /* footer menu list group item */
  background-color: inherit;
  border: 0px;
}

.form-bg {
  /* background-image: linear-gradient(rgba(118, 206, 59, 0.4), rgba(255, 109, 5, 0.1)); */
  background-image: linear-gradient(
    rgba(120, 175, 238, 0.6),
    rgba(90, 255, 178, 0.3)
  );
  border-radius: 10px;
}

.lg-item {
  background-color: "inherit";
  border: "0px";
}